
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Poppins', sans-serif;
    transition: .3s;
}

.orb {
    font-family: 'Orbitron', sans-serif;
}

.tit {
    font-family: 'Titillium Web' ,sans-serif;
}

.dashboard {
    --menu: 200px;
    width: 100vw;
}

.dashboard.active {
    width: calc(100vw + var(--menu));
}

.dashboard .menu {
    width: var(--menu);
}

.dashboard .content-area {
    width: calc(100% - var(--menu));
}

.grid-box-fill {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax( var(--width), 1fr));
}

.grid-box-fit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( var(--width), 1fr));
}

[class *= "grid-box-"] > * {
    width: 100%;
}

